    <script>
        let container = document.getElementById("container");
        let formData = new FormData();
        fetch('/profile', {
            method: "POST",
            body: formData
        }).then(response=>response.json()) // function(response){return response.json()}
            .then(result=>{
                console.log(result)
                container.innerHTML += `
        <div class="row">
            <div class="col-3">
                <img width="100%" src="${result[0]}" alt="Аватар пользователя">
                <form action="/avatar" method="post" enctype="multipart/form-data">
                    <input type="file" name="userfile"> <input type="submit" value="Загрузить">
                </form>
            </div>
            <div class="container col-md-5">
                <div class="my-3">Имя: ${result[1]}</div>
                <div class="my-3">Email: ${result[2]}</div>
                    <div class="col-12 text-start">
                        ID: ${result[3]}
                    </div>
            </div>
    </div> `;


            })
    </script>